@font-face {
  font-family: "YekanBakh";
  src: url("./assets/fonts/YekanBakhFaNum-Regular.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "YekanBakh";
  src: url("./assets/fonts/YekanBakhFaNumBold.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}
@font-face {
  font-family: "YekanBakh";
  src: url("./assets/fonts/YekanBakhFaNum-Black.woff") format("woff2");
  font-weight: 900;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family-primary: "YekanBakh";
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: #00000000;
}

body {
  height: 90vh;
  margin: 0 auto;
  max-width: 768px;
  font-family: "YekanBakh";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 1024px) {
  body {
    margin: 1rem 2rem;
  }
}

h1 {
  font-size: 5rem;
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-size: 3.5rem;
  font-weight: 900;
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 2.5rem;
  }
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 2rem;
  }
}

p {
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  p {
    font-size: 1.4rem;
  }
}

input {
  font-family: "YekanBakh";
}
button {
  font-family: "YekanBakh";
}
